<mat-card class="product">
    <mat-card-header>
      <mat-card-title>{{product?.name}}</mat-card-title>
    </mat-card-header> 
   <img class="product-image"  [src]="profileUrl | async" />
    <mat-card-content>
      <p class="eppl">
       <!-- {{product?.model}}   -->
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button class="floatleft" mat-button>Виж</button>
      <button class="floatleft" *ngIf="isLoggedIn" mat-button>Купи</button>  
      <div class="prices"> 
        <span *ngIf="product!.promopercentage > 0" class="oldprice">{{product?.price}} </span> 
        <span *ngIf="product!.promopercentage == 0" class="standardprice">{{product!.price}}</span> 
        <span *ngIf="product!.promopercentage > 0" class="newprice">{{product!.price - (product!.price * (product!.promopercentage / 100))}}</span> 
      </div> 
    </mat-card-actions>
</mat-card> 