
.product{
    width: 240px;
    margin: 15px;
    box-shadow:  5px 5px 8px gray;
}
  
button,.prices{ display: inline-block;}


.oldprice{
    color: black;
    text-decoration: line-through;
    font-weight: bolder;
}

.newprice{
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
}

.standardprice{
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
}

mat-card-actions{
    text-align: right; 
}

.prices{
    padding: 5px 10px;
}

 
.product-image{
    height: 250px !important;
    text-align: center;
}

.floatleft{
    float: left; 
    width: 30px;
}

mat-card-title {
    height: 50px;
}

mat-card-actions{
    height: 55px;
}
 