<mat-card class="product">
    <mat-card-header>
      <mat-card-title>Himalayan Peaks</mat-card-title>
    </mat-card-header>
    <!-- <img mat-card-image src="./../assets/images/mountains.jpg"> -->
    <mat-card-content>
      <p>
        The Himalayas is a mountain range in Asia.
      </p>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button>Виж</button>
      <button mat-button>Купи</button>  
      <div class="prices"> <span class="oldprice">2400 </span> <span class="newprice">1555</span> </div> 
    </mat-card-actions>
</mat-card> 