.footer {
    width: 100%;
    background-color: #3F51B5;
    height: 200px;
}


.mat-grid-tile ul {
    color: white;
    display: inline-block;
    list-style-type: none;
}

.mat-grid-tile p {
    display: inline-block;
}

.bold{
    font-weight: bold;
}

.copyright{
    text-align: center;
    color: white;
}


a, a:active, a:valid{
    color: white;
}