<div class="footer">
 
    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile> 
            <ul>
                <li class="bold">БГ Маркет</li>
                <li>Общи условия</li>
                <li>Условия за поръчка</li>
                <li>Програма лоялни клиенти</li>
                <li>Отказ от поръчка</li>
                <li>Лични данни</li>
            </ul>
        </mat-grid-tile>
        <mat-grid-tile> 
            <ul>
                <li class="bold">Фирми партньори</li>
                <li><a routerLink="/search/bosch">Bocsh</a></li>
                <li><a routerLink="/search/aeg">AEG</a></li>
                <li><a routerLink="/search/ELECTROLUX">ELECTROLUX</a></li>
                <li><a routerLink="/search/TESY">TESY</a></li>
                <li><a routerLink="/search/LENOVO">LENOVO</a></li> 
            </ul>
        </mat-grid-tile>
        <mat-grid-tile> 
            <ul>
            <li class="bold">Контакти</li>
            <li>Форма за контакт</li>
            <li>Централен офис</li>
            <li>Онлайн решаване на спорове</li>
            <li>Магазини  </li> 
            <li>Вашата реклама</li> 
        </ul></mat-grid-tile> 
      </mat-grid-list>
      
    <p class="copyright">
        Copyright® 2022  БГ Маркет. Всички права запазени.
    </p>
</div>
