<mat-toolbar color="primary"> 
      <span>БГ Маркет</span> 

      <nav class="employee-nav" *ngIf="role == 2" >
            <a routerLink="/products/new" > Нов Продукт </a>  
            <a routerLink="/products" > Продукти </a>  
            <a routerLink="/orders" > Поръчки </a>
      </nav>

      <nav class="employee-nav" *ngIf="role == 1">
            <a routerLink="admin/employee/new" > Нов служител </a>  
            <a routerLink="admin/employees" > Служители </a>   
      </nav>
 
      <span class="example-spacer"></span> 
      
      <nav class="user-nav" *ngIf="role == 3">
            <a> Кошница </a>  
            <mat-icon matBadge="15" matBadgeColor="warn">shopping_cart</mat-icon> 
      </nav>
      <div class="userpanel" *ngIf="isLoggedIn"> 
      <a routerLink="/profile/{{empl?.username}}"> Здавей, {{empl?.username}}</a>
      <a (click)="logout()" > Изход </a> 
      </div>

      <div class="userpanel" *ngIf="!isLoggedIn" > 
            <a routerLink="/login"> Вход </a> 
      </div>

</mat-toolbar>