<mat-toolbar color="primary"> 
      <span routerLink="/home" >БГ Маркет</span> 

      <nav class="employee-nav" *ngIf="role == 2" >
            <a routerLink="/products/new" > Нов Продукт </a>  
            <a routerLink="/products" > Продукти </a>  
            <a routerLink="/orders" > Поръчки </a>
      </nav>

      <nav class="employee-nav" *ngIf="role == 1">
            <a routerLink="admin/employee/new" > Нов служител </a>  
            <a routerLink="admin/employees" > Служители </a>   
      </nav>
 
      <span class="spacer"></span>  
      <nav class="user-nav">
            <input name="textInput" placeholder="Търсене..." type="text" id="textInput" [(ngModel)]="search" />
            <mat-icon id="findicon"  (click)="Search()">manage_search</mat-icon> 
      </nav>
      <nav class="user-nav" *ngIf="role == 3"> 
            <mat-icon routerLink="/cart" id="cart" matBadge="{{cartCount}}" matBadgeColor="warn">shopping_cart</mat-icon> 
      </nav>
      <div class="userpanel" *ngIf="isLoggedIn"> 
      <a routerLink="/profile/{{empl?.docId}}"> Здравей, {{empl?.username}}</a>
      <a (click)="logout()" > Изход </a> 
      </div>

      <div class="userpanel" *ngIf="!isLoggedIn" > 
            <a routerLink="/login"> Вход </a> 
      </div>

</mat-toolbar>