
.product{
    width: 80%;
    margin: 15px;
    margin-left: 10%;
    box-shadow:  5px 5px 8px gray;
}
  
button,.prices{ display: inline-block;}


.oldprice{
    color: black;
    text-decoration: line-through;
    font-weight: bolder;
}

.newprice{
    color: red;
    font-size: 1.5em;
    font-weight: bolder;
}

.standardprice{
    color: black;
    font-size: 1.5em;
    font-weight: bolder;
}

mat-card-actions{
    text-align: right; 
}

.prices{
    padding: 5px 10px;
}

 
.product-image{
    height: 250px !important;
    text-align: center;
}

.floatleft{
    float: left;
}

mat-card-title {
    height: 50px;
}
 

mat-card-header{
    text-align: center;
}

.right{
    float: right;
}

.comment{
border-bottom: 1px gray dashed;
}

.comment p {
    font-size: 20px;
}

#comment-input{
    width: 84% !important;
    margin: 20px;;
}

.icomm{
    width: 80%;
}

.custom-btn{
    background-color: #3F51B5;
    color: white;
}

